{{#if error_msg}}
    <div style="color: red;">{{error_msg}}</div>
{{/if}}
{{#if success_msg}}
    <div style="color: green;">{{success_msg}}</div>
{{/if}}

<h2>Register</h2>
<form action="/auth/register" method="POST">
    <input type="text" name="username" placeholder="Username" required />
    <input type="email" name="email" placeholder="Email" required />
    <input type="password" name="password" placeholder="Password" required />
    <button type="submit">Register</button>
</form>

<p>Want to login?! <a href="/auth/login">Login here!</a></p>
